# Python bytecode
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pkl

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints

# Local environment folders
venv/
env/
.env/

# Data files
*.csv
*.xlsx
*.h5
*.json

# Logs and output
*.log
*.out

# Plot outputs / temporary results
plots/
results/

# OS-specific
.DS_Store
Thumbs.db